@charset "utf-8";
/* CSS Document */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

header,main,aside{
    padding-right:10%;
    padding-left:10%;
    padding-top:1%;
}


/* ヘッダー */
/* 一番上のリンク */
#small{
    display: flex;
    justify-content: flex-end;
}
#small p:first-child{
    margin-right:30px;
}
/* ナビゲーション */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ロゴ */
#logo img{
    width:120px;
    height:auto;
}
#logo{
    width:120px;
    height:auto;
}
/* リンク */
nav ul{
    width:600px;
    display: flex;
    justify-content: space-around;
}
nav ul li a:hover{
    color: #008dde;
}
/* ナビゲーションのユーザー名 */
#user{
    color:#008dde;
}
#user:hover{
    color:orange;
}
/* ナビゲーションのメールアイコン */
#unreadMessageCount{
    width:50px;
}
#unreadMessageCount img{
    width:30px;
    height:auto;
    display: block;
    margin:0 auto;
}


/* メイン */
#main{
    width:60%;
    margin:0 auto;
    margin-top:3%;
    margin-bottom:3%;
    padding:3%;
    text-align: center;
    border:solid 2px #808080;
    border-radius:3px;
}
/* お店の画像 */
#main img{
    width:50%;
}
/* マップ */
#map{
    margin-top:10%;
    width:100%;
    height:300px;
}
/* お店の企業情報 */
#company{
    display: flex;
    justify-content: space-around;
    padding-top:3%;
}
/* アクションボタン */
#action{
    display: flex;
    justify-content: space-around;
    margin-top:10%;
}
#action button{
    width:45%;
    padding:1%;
    padding-left:10%;
    padding-right:10%;
    border-radius:5px;
    font-size:24px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
}
#order{
    background-color:#6699FF;
}
#order a{
    color: white;
}
#info{
    background-color:#FF99CC
}
#info a{
    color:white;
}


/* フッターデザイン */
footer{
    background-color:#f0f0f0;
    text-align: center;
}
/* 文字色・サイズ */
footer a{
    color: #808080;
    font-size:14px;
}
/* 余白 */
#fWrapper{
    padding:10%;
}
/* フレックスデザイン */
#fInner{
    display: flex;
    justify-content: space-around;
    padding-bottom:3%;
    border-bottom:solid 1px #808080
}
/* サービス一覧 */
#fService{
    padding-right:3%;
    border-right:solid 1px #808080;
}
/* サイトマップ */
#fSitemap{
    display: flex;
    justify-content: space-around;
    padding-right:3%;
    border-right:solid 1px #808080;
}
#fSitemap ul li{
    padding-bottom:5%;
}
/* 会員コンテンツ */
#fMember{
    padding-right:3%;
    border-right:solid 1px #808080;
}
/* ヘルプ */
#fHelp{
    padding-right:4%;
    border-right:solid 1px #808080;
}
#fHelp ul li{
    padding-bottom:5%;
}
/* モバイル */
#fMoble{
    padding-right:4%;
}
#fMoble ul li{
    padding-bottom:5%;
}
/* 会社概要 */
#fCorporate{
    padding:3%;
}
#fCorporate ul{
    display: flex;
    justify-content: space-around;
    padding-bottom:5%;
}